<div style="justify-content: center;justify-items: center;width: 100vh;">
  @if (!isDm) {
    @if (activeClassName == null || activeClassLevel == null) {
      <form [formGroup]="formClass">
        <mat-form-field appearance="outline">
          <mat-label>Select an option</mat-label>
          <mat-select formControlName="clazz" multiple>
            @for (class of classesName; track $index) {
              <mat-option [value]="class">{{class}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nível do Personagem</mat-label>
          <input matInput placeholder="Nível do Personagem" formControlName="nivel">
          <mat-icon matSuffix>person</mat-icon>
         </mat-form-field>
      </form>
      <button matButton="elevated" (click)="insertClassProperties()">Send</button>
    }
  }
  @if (
    isDm
    || (
      activeClassName != null 
      || activeClassLevel != null
    )
  ) {
    @if (!isDm) {
      <button matButton="elevated" (click)="longRest()">Descanso Longo</button>
    }
  
    @for (char of lstClassProperties; track $index) {
      <table>
        <td>{{char.name}} - {{char.class}} - {{char.level}}</td>
        @for (item of spellSlotsLevels; track $index) {
          @if (char.spellSlots[item] != 0) {
            <tr>
              <td>
                <button [disabled]="activeClassName != char.class"
                  matFab="elevated" (click)="calcQtdSpellSlot(item, false)">
                  -
                </button>
                Nível {{item}}°
                {{char.spellSlots[item]}}
                <button [disabled]="activeClassName != char.class"
                  matFab="elevated" (click)="calcQtdSpellSlot(item, true)">
                  +
                </button>
              </td>
            </tr>
          }
        }
      </table>
    }
  }
</div>
