<div style="width: 100%;">
  <div>
    <form [formGroup]="form">
      @if (isDm) {
        <mat-form-field appearance="outline">
          <input matInput formControlName="name" placeholder="Nome" />
        </mat-form-field>
      }
      @if (displayInput) {
        <mat-form-field appearance="outline">
          <input matInput formControlName="iniciativeValue" placeholder="Iniciativa" type="number"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput formControlName="hp" placeholder="Vida" type="number"/>
        </mat-form-field>
      }
    </form>
    @if (displayInput) {
      <button matButton="filled" (click)="send()">Send</button>
    }
    @if (isDm) {
      <button matButton="elevated" (click)="delete()">Limpar Iniciativa</button>
    }
  </div>
  @if (!displayInput || isDm) {
    <div style="top: -10;">
      <table mat-table [dataSource]="dataSource" matSort fixedLayout="true" class="mat-elevation-z8 table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Nome
          </th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="iniciativeValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by iniciativeValue">
            Iniciativa
          </th>
          <td mat-cell *matCellDef="let element">{{element.iniciativeValue}}</td>
        </ng-container>
        <ng-container matColumnDef="hp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Vida
          </th>
          <td mat-cell *matCellDef="let element">
            @if (element.name == charName || isDm) {
              {{element.hp}}
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="hpCalc">
          <th mat-header-cell *matHeaderCellDef>
            Controlador de Vida
          </th>
          <td mat-cell *matCellDef="let element">
            @if (element.name == charName || isDm) {
              <form [formGroup]="formHp">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="hpCalc" type="number"/>
                </mat-form-field>
              </form>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            @if (element.name == charName || isDm) {
              <button matButton="filled" (click)="sendLife(element)">=</button>
            }
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  }
</div>